<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section>
      <div id="dropdown">
        <input type="text" id="str" />
        <button>Search</button>
      </div>
      <%var check = true%>
      <table id="display-table" style="border: 1px solid black;">
        <% for(let row of rows) {%> <% if(check) {%>
        <tr style="border: 1px solid black;">
          <%for (const property in row) {%>
          <td style="border: 1px solid black;">
            <%=property%>
          </td>
          <%}%> <%check=false%>
        </tr>
        <%}%>
        <tr style="border: 1px solid black;">
          <%for (const property in row) {%>
          <td style="border: 1px solid black;">
            <%=row[property]%>
          </td>
          <%}%>
        </tr>
        <%} %>
      </table>
    </section>
    <script src="/js/search.js"></script>
  </body>
</html>
